@charset "utf-8";

.openerp .oe_list_content td.oe_number {/* 
  text-align: right !important; */
  max-width: none !important;
}

.openerp .oe_form header {/* 
    border-bottom: 7px solid #cacaca; */
}